/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-ene-2017, 17:25:26
    Author     : ahll
*/
html, body
{
    height: 100%;
    background-color:#A9D18E;
}
body {
  height: 80%;
  text-align: center;
}

#register {
  padding: 2%;  
}

.form-register {
  background-color: #e3f0db;
  max-width: 410px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading,
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



