@import "/assets/css/chart.css";
h1 {
    text-align: center;
}

select {
    height: 200%;
}

#ranking{
    padding-bottom:50px;
}

.rankingList{
    padding-top: 10px;
}

.react-datepicker-ignore-onclickoutside{
    padding: 0;
    border: 0;
}

.react-datepicker__input-container{
    padding: 0;
    border: 0;
}

.react-datepicker__input-container input{
    padding: 0;
    border: 1px;
}

.stock {
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    border-radius: 4px;
    border-bottom: 3px solid #eeeeee;
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.stock img{
    width: 80%
}

.paddingcard {
    padding-bottom: 15px;
}

.stockTicker {
    font-size: 18px;
}

.right {
    text-align: right;
}

