@import "/assets/css/chart.css";
h1 {
    text-align: center;
}

.stock {
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    border-radius: 4px;
    border-bottom: 3px solid #eeeeee;
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.stock img{
    width: 80%
}

.paddingcard {
    padding-bottom: 15px;
}