/* 
    Created on : 26-dic-2016, 18:07:53
    Author     : Lili
*/
html, body{
	background-color: #ffffff;
	color:#777;
        margin: 0;
}

/*button {
    background-color: #A9D18E !important;
}*/

.app-bar div:first-child {
    width: 100%;
    background-color: #A9D18E !important;
}

.navigation-bar-bottom {
    width: 100%;
    position:fixed;bottom:0px;
}

.header1 {
    color: rgba(255, 255, 255, 0.870588);
    font-weight: 300;
    font-size: 56px;
    margin-bottom: 0px; 
}
.header2 {
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.870588);
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    padding-top: 0px;
    margin-bottom: 12px;
    letter-spacing: 0px;
}

.green-background{
    background-color: #A9D18E;
}
.gris-background{
    background-color: #e3f0db;
}

.text-color {
    color: #777;
    text-decoration: none;
}
 .btn:hover {
    color: #f1f8ed;
}

section{
	padding-top: 2.5%;
}

.center{
	text-align: center;
}

